<ion-view title="Requested Carwashes">
  <ion-content overflow-scroll="true" class="provider-view">
    <div class="map-view" ng-if="providerCtrl.requests.length<1" data-tap-disabled="true">
      <ng-map center="[{{providerCtrl.locData.lat}}, {{providerCtrl.locData.lng}}]" zoom="12" style="height:550px;">
        <marker position="[{{providerCtrl.locData.lat}}, {{providerCtrl.locData.lng}}]"></marker>
        <marker ng-repeat="position in providerCtrl.requests" position="[{{position.user_location.lat}}, {{position.user_location.lng}}]" icon="http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Azure-icon.png"></marker>
      </ng-map>
      <ion-item class="no-wash">
        There are currently no wash<br>request in your area.
      </ion-item>
    </div>
    <ion-list ng-if="providerCtrl.requests.length>0">
      <ion-item class="item request-list" ng-if="!request.display" ng-repeat="request in providerCtrl.requests">
        <div class="req-map-view" data-tap-disabled="false">
          <ng-map center="[{{providerCtrl.locData.lat}}, {{providerCtrl.locData.lng}}]" zoom="12" style="height:550px;">
            <marker position="[{{providerCtrl.locData.lat}}, {{providerCtrl.locData.lng}}]"></marker>
            <marker position="[{{request.user_location.lat}}, {{request.user_location.lng}}]" icon="http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Azure-icon.png"></marker>
          </ng-map>
        </div>
        <div class="row">
          <div class="col">
            <span class="label">Wash Type: </span>{{request.wash_type}}<br>
            <span class="label">Car Type: </span>{{request.vehicle_type}}
          </div>
          <div class="col">
            <span class="label">Price: </span>${{request.cost}}<br>
            <span class="label">Distance: </span>{{request.distance}} miles
          </div>
        </div>
        <wod-history-entry-expand wash-options="::request.wash_info">
        </wod-history-entry-expand>
        <div class="page" style="">
          <button class="button button-block button-positive" ng-disabled="request.accepted" ng-disabled="providerCtrl.accepted" ng-click="providerCtrl.acceptWash(request)">Accept Wash</button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
