<ion-view title="Customer View">
  <ion-content overflow-scroll="true" class="customer-view">
    <div class="map-view" data-tap-disabled="true">
      <ng-map center="[{{customerCtrl.locData.lat}}, {{customerCtrl.locData.lng}}]" zoom="12" style="height:550px;">
        <marker position="[{{customerCtrl.locData.lat}}, {{customerCtrl.locData.lng}}]"></marker>
        <marker ng-repeat="washer in customerCtrl.washers" position="[{{washer.geolocation.lat}}, {{washer.geolocation.lng}}]" icon="http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Azure-icon.png"></marker>
      </ng-map>
    </div>

    <p ng-if="!customerCtrl.locData.found">Grabbing Your Location. Please Wait</p>

    <form class="page" ng-if="customerCtrl.locData.found">
      <div class="btn-margin">
        <span>Select Vehicle Type:</span>
        <div class="button-bar">
          <button class="button button-outline button-positive" ng-click="customerCtrl.selectVehicle('Car');" ng-class="{'active': customerCtrl.request.vehicleType.name === 'Car'}">Car</button>
          <button class="button button-outline button-positive" ng-click="customerCtrl.selectVehicle('SUV');" ng-class="{'active': customerCtrl.request.vehicleType.name === 'SUV'}">SUV/Van</button>
          <button class="button button-outline button-positive" ng-click="customerCtrl.selectVehicle('Motorcycle');"ng-class="{'active': customerCtrl.request.vehicleType.name === 'Motorcycle'}">Motorcycle</button>
        </div>
      </div>

      <div class="btn-margin">
        <span>Select Wash Type:</span>
        <div class="button-bar">
            <button class="button button-outline button-positive" ng-click="customerCtrl.selectWash('Basic')" ng-class="{'active': customerCtrl.request.washType === 'Basic'}">Basic</button>
            <button class="button button-outline button-positive" ng-click="customerCtrl.selectWash('Deluxe')" ng-class="{'active': customerCtrl.request.washType === 'Deluxe'}">Deluxe</button>
            <button id="premium-btn" class="button button-outline button-positive" ng-click="customerCtrl.selectWash('Premium')" ng-class="{'active': customerCtrl.request.washType === 'Premium'}">Premium</button>
            <button class="button button-outline button-positive" ng-click="customerCtrl.selectWash('Custom')" ng-class="{'active': customerCtrl.request.washType === 'Custom'}">Custom</button>
        </div>
      </div>

      <div class="wash-detail" ng-if="customerCtrl.showInfo()">
        <div class="row">
          <div class="col">Total Price: {{customerCtrl.getPrice()}}$ <span ng-if="customerCtrl.request.washType ==='custom'">(Minimum 25$)</span></div>
        </div>
        <div class="row">
          <div class="col">
            Vehicle: {{customerCtrl.request.vehicleType.name}} ${{customerCtrl.request.vehicleType.price}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            What's included:
            <br>
            <ion-list>
              <ion-checkbox ng-repeat="detail in customerCtrl.request.washInfo" ng-checked="detail.active" ng-class="{'inactiveOption': !detail.active}" ng-click="customerCtrl.toggleOption(detail)">{{detail.info}}: ${{detail.price}}</ion-checkbox>
            </ion-list>
          </div>
        </div>
      </div>
      <div class="btn-margin">
        <button class="request-button button button-block button-positive" ng-if="customerCtrl.showRequestButton()" ng-click="customerCtrl.sendRequest()">Request A Wash</button>
        <button class="request-button button button-block button-stable disabled" ng-if="!customerCtrl.showRequestButton()">{{customerCtrl.btnMsg}}</button>
      </div>
    </form>
  </ion-content>
</ion-view>
