.bar, .bar-stable {
  border: none;
  background-color: #fff;
}

ng-map {
  height: 100% !important;
}

.map-view {
  height: 40%;
}

.vehicle-types {
  margin-left: 5px;
  margin-right: 5px;
}

.wash-types {
  margin-left: 5px;
  margin-right: 5px;
}

.request-button {
  margin-left: 5px;
  margin-right: 5px;
}

.wash-detail {
  min-height: 215px;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
}

.wash2-detail {
  height: 333px;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
}

.wash3-detail {
  height: 430px;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
}

.gmnoprint {
  display:none;
}
