.bar, .bar-stable {
  border: none;
  background-color: #fff;
}

ng-map {
  height: 100% !important;
}

.req-map-view {
  height:125px;
}

.map-view {
  height: 300px;
}

.btn-margin {
  margin-left: 5px;
  margin-right: 5px;
}

#premium-btn {
  text-overflow: clip;
}

.label {
  font-weight: bold;
}

.no-wash {
  text-align: center;
}

.wash-detail {
  border: 1px solid gray;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
}

.float-right {
  float: right;
}

.cust-history-expand {
  color: #387ef5;
  text-decoration: underline;
}

.prov-history-expand {
  color: #33cd5f;
  text-decoration: underline;
}

.gmnoprint {
  display:none;
}

.inactiveOption {
  color: grey;
}

.popup-buttons .button {
  min-width: 20px;
  min-height: 30px;
}

.feedback-text {
  min-height: 100px;
  resize: none;
}

.signin {
  margin-left: 20px;
  margin-right: 20px;
}

.question {
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 250px;
  height: 250px;
}

.button.button-balanced {
  background-color: #122A3E;
}

.button.button-balanced.button-outline {
  border-color: #122A3E;
  color: #122A3E;
}

.button.button-balanced.button-outline.activated {
  background-color: #0e426e;
  color: white;
}

.button.button-balanced.activated, .button.button-balanced.active{
  border-color: #122A3E;
  color: #122A3E;
}

.button.button-balanced.activated {
  background-color: #0e426e;
  color: #FFFFFF;
}

.item-input {
  border-left: none;
  border-right: none;
  border-top: none;
}

.customer-view {
  margin-bottom: 20px;
}

.loading-container .loading{
  background-color: transparent;
}

.spinner svg {
  width: 100px;
  height: 100px;
}

.spinner.spinner-energized {
  stroke: #0e426e;
}
