<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.lunchline151949" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>washondemand</name>
  <description>
      An Ionic Framework and Cordova project.
  </description>
  <author email="you@example.com" href="http://example.com.com/">
    Your Name Here
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="http://washondemand.us-west-2.elasticbeanstalk.com/*/*/*.js" />
  <allow-navigation href="http://maps.google.com/maps/api/js" />
  <allow-navigation href="https://cdn.socket.io/*.js" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>

  <!-- iOS persistent file storage -->
  <plugin name="File" value="org.apache.cordova.FileUtils" />
  <plugin name="FileTransfer" value="org.apache.cordova.FileTransfer" />
  <!-- iOS permissions for File -->
  <plugin name="File" value="CDVFile" />
  <plugin name="FileTransfer" value="CDVFileTransfer" />

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <access origin="tel:*" launch-external="yes" />
  <allow-intent href="tel:*" />
  <allow-navigation href="maps:*" launch-external="yes" />
  <allow-navigation href="geo:*" launch-external="yes" />
</widget>
