* {
	margin: 0;
}
html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
}

.navbar {
  margin-bottom: 0px;
  border: none;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

.navbar-brand {
  padding: 5px 0px 0px 5px;
}

.navbar-brand-text {
  font-size: 18px;
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
  font-weight: 400;
  padding: 15px 0px 0px 15px;
}

.container-fluid {
  background-color: #122a3e;
  color: #fff;
}

.navbar-nav {
  margin: 0px -15px 0px -15px;
}

.navbar-nav>li>a {
  color: #fff !important;
  font-size: 20px;
}
.navbar-nav>li {
  border: none;
}

.navbar-toggle:hover {
  background-color: #387EF5 !important;
}

.wrapper > div {
  height: 100%;
}

.jumbotron {
  height: 550px;
  margin-top:15px;
  margin-bottom: 0px;
}

.jumbo-img-mob {
  text-align: center;
}
.jumbo-img > img {
  height: 450px;
}

.jumbo-img {
  text-align: center;
}

.jumbo-content {
  text-align: center;
}

.jumbo-text {
  text-align: left;
  width: 80%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  padding-left: 25px;
}

.jumbo-text > p {
  font-size: 28px;
}

.jumbo-info > li{

  font-size: 24px;
  margin: 10px;
}

.card-image {
  display: inline-block;
  width: 80%;
  height: 250px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  margin: 25px auto 15px auto;
}

.pic1 {
  background-image: url('/images/waterless-car-washing.jpg');
}

.pic2 {
  background-image: url('/images/clean-interior.jpg');
}

.pic3 {
  background-image: url('/images/clean-wheel.jpg');
}

md-card {
  /*box-shadow: none;*/
  text-align: center;
}

.card-text {
  width: 80%;
  margin: 25px auto;
  text-align: center;
}

.card-msg {
  font-size: 18px;
}

.card-title {
  font-size: 24px;
}

.demo {
  min-height: 150px;
  background-color: #d4d4d4;
}

.demo-img>img {
  display: block;
  width: 50%;
  margin: 25px auto;
}

.footer, .push {
	height: 75px;
  color: #fff;
  background-color: #777;
  text-align: center;
}

.footer>span {
  margin-top: 45px;
  margin-right: 10px;
  vertical-align: bottom;
}

.team-title {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.team-title>image {
  width: 20%;
}

.team-logo {
  display: inline-block;
  background-image: url('/images/logo.jpg');
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.team-image {
  display: inline-block;
  width: 250px;;
  height: 250px;
  border-radius: 125px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  margin: 25px auto 15px auto;
}

.team1 {
  background-image: url('/images/bobby.jpg');
}

.team2 {
  background-image: url('/images/danny.jpg');
}

.team3 {
  background-image: url('/images/kyle.jpg');
}

.team4 {
  background-image: url('/images/kaz.jpg');
}

.team-card > p {
  font-size: 18px;
  width: 80%;
  margin: auto;
}

.name {
  font-weight: 800;
}

.social img{
  width: 50px;
  display: inline;
  margin: 10px;
}
@media(max-width: 1200px) {
  .jumbotron {
    height:500px;
  }
  .jumbo-img > img {
    height: 400px;
  }
}
@media(max-width: 992px) {
  .jumbotron {
    height:445px;
  }
  .jumbo-img > img {
    height: 350px;
  }
  .jumbo-info > li {
    font-size: 18px;
    margin: 10px;
}
  .card-image {
    height: 175px;
  }
}
@media(max-width: 768px) {
  .navbar-nav>li>a {
    font-size: 16px;
  }
  .navbar-nav>li {
    border: 1px solid #777;
  }
  .jumbotron {
    height:379px;
  }
  .jumbo-img > img {
    margin-top: 25px;
    height: 288px;
  }
  .market-links > a > img {
    height: 45px;
  }
  .card-image {
    height: 175px;
  }
  .jumbo-text > p {
    font-size: 22px;
  }
  .jumbo-text {
    margin-bottom: 15px;
  }
  .jumbo-info > li {
    font-size: 18px;
    margin: 5px;
  }
  .cust-info>li {
    font-size: 18px;
  }
}
@media(max-width: 650px) {

}
@media(max-width: 480px) {
  .navbar-nav>li>a {
    font-size: 16px;
  }
  .navbar-nav>li {
    border: 1px solid #777;
  }
  .jumbotron {
    height:400px;
    padding-top: 50px;
  }
  .jumbo-img > img {
    height: 220px;
  }
  .google {
    width: 30%;
  }
  .ios {
    width: 30%;
  }
  .card-image {
    height: 175px;
  }
  .demo-desc {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .demo-desc > p {
    font-size: 24px;
  }
  .cust-info>li {
    font-size: 18px;
  }
}

@media(max-width: 320px) {
  .navbar-nav>li>a {
    font-size: 16px;
  }
  .navbar-nav>li {
    border: 1px solid #777;
  }
  .jumbotron {
    height:400px;
  }
  .google {
    width: 30%;
  }
  .ios {
    width: 30%;
  }

  .card-image {
    height: 175px;
  }
  .demo-desc {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .demo-desc > p {
    font-size: 24px;
  }
  .cust-info>li {
    font-size: 18px;
  }
}
