* {
	margin: 0;
}
html, body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

.wrapper {
	min-height: 100%;
}

.navbar {
  margin-bottom: 0px;
  border: none;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.navbar-brand {
  padding: 5px 0px 0px 5px;
}

.navbar-brand-text {
  font-size: 18px;
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
  font-weight: 400;
  padding: 15px 0px 0px 15px;
}

.container-fluid {
  background-color: #009bf5;
  color: #fff;
}

.navbar-nav {
  margin: 0px -15px 0px -15px;
}

.navbar-nav>li>a {
  color: #fff !important;
  font-size: 20px;
}
.navbar-nav>li {
  border: none;
}

.navbar-toggle:hover {
  background-color: #387EF5 !important;
}

.wrapper > div {
  height: 100%;
}

.jumbotron {
  height: 550px;
  margin-top:15px;
  margin-bottom: 0px;
  background-color: #f9f9f9;
}

.jumbo-img-mob {
  text-align: center;
}
.jumbo-img > img {
  height: 450px;
}

.jumbo-img {
  text-align: center;
}

.jumbo-content {
  text-align: center;
}

.jumbo-text {
  text-align: left;
  width: 80%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  padding-left: 25px;
}

.jumbo-text > p {
  font-size: 28px;
}

.jumbo-info > li{

  font-size: 24px;
  margin: 10px;
}

.card-image {
  display: inline-block;
  width: 80%;
  height: 250px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  margin: 25px auto 15px auto;
}

.pic1 {
  background-image: url('/images/waterless-car-washing.jpg');
}

.pic2 {
  background-image: url('/images/clean-interior.jpg');
}

.pic3 {
  background-image: url('/images/clean-wheel.jpg');
}

md-card {
  text-align: center;
}

.card-text {
  width: 80%;
  margin: 25px auto;
  text-align: center;
}

.card-msg {
  font-size: 18px;
}

.card-title {
  font-size: 24px;
}

.demo {
  min-height: 150px;
  background-color: #d4d4d4;
}

.demo-img>img {
  display: block;
  width: 50%;
  margin: 25px auto;
}

.footer, .push {
	height: 75px;
  color: #fff;
  background-color: #777;
  text-align: center;
}

.footer>span {
  margin-top: 45px;
  margin-right: 10px;
  vertical-align: bottom;
}

#team {
  margin-bottom: 50px;
}

.team-title {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.team-title>image {
  width: 20%;
}

.team-logo {
  display: inline-block;
  background-image: url('/images/logo.jpg');
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.team-image {
  display: inline-block;
  width: 250px;;
  height: 250px;
  border-radius: 125px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  margin: 25px auto 15px auto;
}

.team1 {
  background-image: url('/images/bobby.jpg');
}

.team2 {
  background-image: url('/images/danny.jpg');
}

.team3 {
  background-image: url('/images/kyle.jpg');
}

.team4 {
  background-image: url('/images/kaz.jpg');
}

.team-card > p {
  font-size: 18px;
  width: 80%;
  margin: auto;
}

.name {
  font-weight: 800;
}

.social img{
  width: 50px;
  display: inline;
  margin: 10px;
}

.about-us > p {
  font-size: 20px;
  margin: 20px;
}

.plan-card {
  border: none;
  box-shadow: none;
  margin: auto;
}

#pricing {
  width: 100%;
  background-color: #f9f9f9;
  padding-bottom: 25px;
}

#pricing-table {
	margin: 50px auto;
	text-align: center;
	width: 75%; /* total computed width = 222 x 3 + 226 */
}

#pricing-table .plan {
	font: 12px 'Raleway', 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255,255,255,.8);
	background: #fff;
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 250px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */
	float: left;
	position: relative;
  margin: 0px auto;
}

#pricing-table #most-popular {
	z-index: 2;
	top: -13px;
	border-width: 3px;
	padding: 30px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
}

#pricing-table .plan:nth-child(1) {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#pricing-table .plan:nth-child(4) {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

/* --------------- */

#pricing-table h3 {
	font-size: 20px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
	background-color: #ddd;
	background-image: -moz-linear-gradient(#eee,#ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: -o-linear-gradient(#eee, #ddd);
	background-image: -ms-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	margin-top: -30px;
	padding-top: 30px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

#pricing-table .plan:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

#pricing-table h3 span {
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

/* --------------- */

#pricing-table .signup {
	position: relative;
	padding: 8px 20px;
	margin: 20px 0 0 0;
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	background-color: #72ce3f;
	background-image: -moz-linear-gradient(#72ce3f, #62bc30);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));
	background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
	background-image: -o-linear-gradient(#72ce3f, #62bc30);
	background-image: -ms-linear-gradient(#72ce3f, #62bc30);
	background-image: linear-gradient(#72ce3f, #62bc30);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing-table .signup:hover {
	background-color: #62bc30;
	background-image: -moz-linear-gradient(#62bc30, #72ce3f);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));
	background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
	background-image: -o-linear-gradient(#62bc30, #72ce3f);
	background-image: -ms-linear-gradient(#62bc30, #72ce3f);
	background-image: linear-gradient(#62bc30, #72ce3f);
}

#pricing-table .signup:active, #pricing-table .signup:focus {
	background: #62bc30;
	top: 2px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}

.about-us {
	padding: 0px 100px;
	width: 80%;
	margin: auto;
}

@media(max-width: 1200px) {
  .jumbotron {
    height:500px;
  }
  .jumbo-img > img {
    height: 400px;
  }

	.about-us {
		width: 80%;
		padding: 0px 10px;
	}
}
@media(max-width: 992px) {
  .jumbotron {
    height:445px;
  }
  .jumbo-img > img {
    height: 350px;
  }
  .jumbo-info > li {
    font-size: 18px;
    margin: 10px;
}
  .card-image {
    height: 175px;
  }
}
@media(max-width: 768px) {
  .navbar-nav>li>a {
    font-size: 16px;
  }
  .navbar-nav>li {
    border: 1px solid #777;
  }
  .jumbotron {
    height:379px;
  }
  .jumbo-img > img {
    margin-top: 25px;
    height: 288px;
  }
  .market-links > a > img {
    height: 45px;
  }
  .card-image {
    height: 175px;
  }
  .jumbo-text > p {
    font-size: 22px;
  }
  .jumbo-text {
    margin-bottom: 15px;
  }
  .jumbo-info > li {
    font-size: 18px;
    margin: 5px;
  }
  .cust-info>li {
    font-size: 18px;
  }

	.about-us {
		width: 90%;
		padding: 0px 10px
	}
}

@media(max-width: 650px) {

}

@media(max-width: 480px) {
  .navbar-nav>li>a {
    font-size: 16px;
  }
  .navbar-nav>li {
    border: 1px solid #777;
  }
  .jumbotron {
    height:400px;
    padding-top: 50px;
  }
  .jumbo-img > img {
    height: 220px;
  }
  .google {
    width: 30%;
  }
  .ios {
    width: 30%;
  }
  .card-image {
    height: 175px;
  }
  .demo-desc {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .demo-desc > p {
    font-size: 24px;
  }
  .cust-info>li {
    font-size: 18px;
  }

	.about-us {
		width: 100%;
		padding: 0px 10px
	}
}

@media(max-width: 320px) {
  .navbar-nav>li>a {
    font-size: 16px;
  }
  .navbar-nav>li {
    border: 1px solid #777;
  }
  .jumbotron {
    height:400px;
  }
  .google {
    width: 30%;
  }
  .ios {
    width: 30%;
  }

  .card-image {
    height: 175px;
  }
  .demo-desc {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .demo-desc > p {
    font-size: 24px;
  }
  .cust-info>li {
    font-size: 18px;
  }

	.about-us {
		width: 100%;
		padding: 0px 10px
	}
}
