<ion-view title="Provider Wash History">
  <ion-content overflow-scroll="true" class="provider-history">
    <ion-list>
      <ion-item ng-repeat="wash in provWashHistCtrl.history">
        <p>
          <span>
            {{wash.date}}
          </span>
          <span class="float-right">
            {{wash.custName}}
          </span>
        </p>
        <p>
          <span>
            Price: {{wash.price}}$
          </span>
          <span class="float-right">
            Your Rating: {{wash.custRating}}
          </span>
        </p>
        <p>
          <span>
            Vehicle Type: {{wash.vehicleType}}
          </span>
          <span class="float-right">
            Wash Type: {{wash.washType}}
          </span>
        </p>
        <p>
          <span class="history-expand" ng-click="provWashHistCtrl.toggleExpand(wash)">
            <span ng-if="!wash.expanded">More</span>
            <span ng-if="wash.expanded">Less</span>
          </span>
        </p>
        <ul ng-show="wash.expanded">
          <li ng-repeat="option in wash.options">
            <p>{{option.info}}</p>
          </li>
        </ul>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
