<ion-view title="Provider Wash History">
  <ion-content overflow-scroll="true" class="provider-history">
    <ion-list>
      <ion-item>
        <div class="row">
          Total washes: {{::provWashHistCtrl.total}}<br>
          Total earnings: ${{::provWashHistCtrl.sum}}<br>
          Average Rating: {{::provWashHistCtrl.ratingAvg}}
        </div>
      </ion-item>

      <ion-item ng-repeat="wash in ::provWashHistCtrl.history | limitTo:provWashHistCtrl.numEntries">
        <wod-prov-history-entry wash="::wash">
        </wod-prov-history-entry>
      </ion-item>
      
    </ion-list>
    <button class="button button-balanced button-small button-full" ng-click="provWashHistCtrl.displayMoreEntries()" ng-if="provWashHistCtrl.numEntries < provWashHistCtrl.history.length"> Show More </button>
  </ion-content>
</ion-view>
