<ion-view title="Provider Wash History">
  <ion-content overflow-scroll="true" class="provider-history">
    <ion-list>
      <ion-item>
        <div class="row">
          Total washes: {{provWashHistCtrl.total}}<br>
          Total earnings: ${{provWashHistCtrl.sum}}
        </div>
      </ion-item>

      <ion-item ng-repeat="wash in provWashHistCtrl.history | limitTo:provWashHistCtrl.numEntries">
        <p>
          <span>
            {{::provWashHistCtrl.formatTime(wash.job_ended)}}
          </span>
          <span class="float-right">
            Your Rating: {{::wash.provider_rating}}/5
          </span>
        </p>
        <p>
          <span>
            Price: {{::wash.cost}}$
          </span>
          <span class="float-right">
            "{{::wash.provider_feedback}}"
          </span>
        </p>
        <p>
          <span>
            Vehicle Type: {{::wash.vehicle_type}}
          </span>
          <span class="float-right">
            Wash Type: {{::wash.wash_type}}
          </span>
        </p>
        <p>
          <span class="prov-history-expand" ng-click="provWashHistCtrl.toggleExpand(wash)">
            <span ng-if="!wash.expanded">More</span>
            <span ng-if="wash.expanded">Less</span>
          </span>
        </p>
        <ul ng-if="wash.expanded">
          <li ng-repeat="option in wash.wash_info" ng-if="option.active">
            <p>{{::option.info}}</p>
          </li>
        </ul>
      </ion-item>
    </ion-list>
    <button class="button button-calm button-small button-full" ng-click="provWashHistCtrl.displayMoreEntries()" ng-if="provWashHistCtrl.numEntries < provWashHistCtrl.history.length"> Show More </button>
  </ion-content>
</ion-view>
