<ion-view title="Provider Wash Info">
  <ion-content overflow-scroll="true" class="provider-wash-info">
    <ion-list>
      <ion-item class="item item-divider">Current Wash</ion-item>
      <ion-item ng-if="!provWashInfoCtrl.request">
        There are currently no washes in progress.
      </ion-item>
      <ion-item ng-if="provWashInfoCtrl.request">
        Customer Name: {{provWashInfoCtrl.request.user_firstname}}<br>
        Customer Phone Number: {{provWashInfoCtrl.request.user_phone}}<br>
        Job Accepted: {{provWashInfoCtrl.request.job_accepted}}<br>
        Wash Type: {{provWashInfoCtrl.request.wash_type}}<br>
        Vehicle Type: {{provWashInfoCtrl.request.vehicle_type}}<br>
        Cost: ${{provWashInfoCtrl.request.cost}}
      </ion-item>
      <!-- <ion-item class="item item-divider">Past Washes</ion-item> -->
    </ion-list>
    <div class="btn-margin">
      <button ng-if="!provWashInfoCtrl.jobStarted" class="button button-block button-positive" ng-click="provWashInfoCtrl.startWash()">Start Wash</button>
      <button ng-if="provWashInfoCtrl.jobStarted" class="button button-block button-positive" ng-click="provWashInfoCtrl.endWash()">Wash Complete</button>
    </div>
  </ion-content>
</ion-view>
