<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="back-button" ng-click="$root.GoBack()"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon positive" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
              <button ng-if="$root.locationBarShow === true" class="button button-icon button-clear ion-search positive" ng-click="$root.restLocationInfo()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="nav-view"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="dark">
        <ion-header-bar class="bar-stable dark">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="dark side-menu-left has-header">
            <ion-list>
                <ion-toggle class="item" ng-model="navCtrl.availability" ng-checked="navCtrl.availability" ng-click="navCtrl.updateAvailability()">Available</ion-toggle>
                <ion-item class="item" ui-sref="providernav.provider" menu-close="">View Requests</ion-item>
                <ion-item class="item" ui-sref="providernav.providerWashView" menu-close="">Accepted Wash</ion-item>
                <ion-item class="item" ui-sref="providernav.providerWashes" menu-close="">Your Washes</ion-item>
                <ion-item class="item" ng-click="navCtrl.providerLogout()" menu-close="">Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
