<!-- provSICtrl as psi -->
<ion-view>
  <div class="bar bar-header bar-stable">
    <a ui-sref="home" class="button button-outline button-dark button-icon">Back</a>
    <h1 class="title">Provider Sign In</h1>
  </div>
  <ion-content class="has-header">
    <form class="list list-inset" ng-submit='psi.signin()'>
      <label class="item item-input">
        <input type='email' placeholder="email" ng-model='psi.provider.email'>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="password" ng-model='psi.provider.password'>
      </label>
      <p ng-if='psi.provider.error'>{{psi.provider.error}}</p>
      <button class="button button-full button-balanced">Sign In</button>
    </form>
    <p>Need an account?  <a href="#/providerSignup">Create one here!</a></p>
  </ion-content>
</ion-view>
