<!-- provSICtrl as psi -->
<ion-view>
  <div class="bar bar-header bar-stable">
    <a ui-sref="home" class="button button-outline button-dark button-icon">Back</a>
    <h1 class="title">Provider Sign In</h1>
  </div>
  <ion-content class="has-header">
    <form class="signin list" ng-submit='psi.signin()'>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type='email' placeholder="Email" ng-model='psi.provider.email'>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model='psi.provider.password'>
      </label>
      <p ng-if='psi.provider.error'>{{psi.provider.error}}</p>
      <button class="button button-block button-balanced">Sign In</button>
    </form>
    <p class="question">Need an account?  <a href="#/providerSignup">Create one here!</a></p>
  </ion-content>
</ion-view>
