<!-- provSUCtrl as psu -->
<ion-view>
  <div class="bar bar-header bar-stable">
    <a ui-sref="home" class="button button-outline button-dark button-icon">Back</a>
    <h1 class="title">Provider Sign Up</h1>
  </div>
  <ion-content class="has-header">
    <form class="list list-inset" ng-submit='psu.signup()'>
      <label class="item item-input">
        <input type='text' placeholder="company name" ng-model='psu.provider.companyName'>
      </label>
      <label class="item item-input">
        <input type='email' placeholder="email" ng-model='psu.provider.email'>
      </label>
      <label class="item item-input">
        <input type='tel' placeholder="phone" ng-model='psu.provider.phone'>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="password" ng-model='psu.provider.password'>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="confirm password" ng-model='psu.provider.confirmPassword'>
      </label>
      <p ng-if='psu.provider.error'>{{psu.provider.error}}</p>
      <button class="button button-full button-calm">Sign Up</button>
    </form>
    <p>Already have an account?  <a href="#/providerSignin">Sign in here!</a></p>
  </ion-content>
</ion-view>
