<!-- custSICtrl as csi -->
<ion-view title="Customer Sign In">
  <div class="bar bar-header bar-stable">
    <a ui-sref="home" class="button button-outline button-dark button-icon">Back</a>
    <h1 class="title">Customer Sign In</h1>
  </div>
  <ion-content class="has-header">
    <form class="list list-inset" ng-submit='csi.signin()'>
      <label class="item item-input">
        <input type='email' placeholder="email" ng-model='csi.customer.email'>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="password" ng-model='csi.customer.password'>
      </label>
      <p ng-if='csi.customer.error'>{{csi.customer.error}}</p>
      <button class="button button-full button-positive">Sign In</button>
    </form>
    <p>Need an account?  <a href="#/customerSignup">Create one here!</a></p>
  </ion-content>
</ion-view>
