<!-- custSUCtrl as csu -->
<ion-view>
  <div class="bar bar-header bar-stable">
    <a ui-sref="home" class="button button-outline button-dark button-icon">Back</a>
    <h1 class="title">Customer Sign Up</h1>
  </div>
  <ion-content class="has-header">
    <form class="list list-inset" ng-submit='csu.signup()'>
      <label class="item item-input">
        <input type='text' placeholder="first name" ng-model='csu.customer.firstName'>
      </label>
      <label class="item item-input">
        <input type='text' placeholder="last name" ng-model='csu.customer.lastName'>
      </label>
      <label class="item item-input">
        <input type='email' placeholder="email" ng-model='csu.customer.email'>
      </label>
      <label class="item item-input">
        <input type='tel' placeholder="phone" ng-model='csu.customer.phone'>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="password" ng-model='csu.customer.password'>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="confirm password" ng-model='csu.customer.confirmPassword'>
      </label>
      <p ng-show='csu.customer.error'>{{csu.customer.error}}</p>
      <button class="button button-full button-positive">Sign Up</button>
    </form>
    <p>Already have an account?  <a href="#/customerSignin">Sign in here!</a></p>
  </ion-content>
</ion-view>
