<!-- custSUCtrl as csu -->
<ion-view>
  <div class="bar bar-header bar-stable">
    <a ui-sref="home" class="button button-outline button-dark button-icon">Back</a>
    <h1 class="title">Customer Sign Up</h1>
  </div>
  <ion-content class="has-header">
    <form class="signin list" ng-submit='csu.signup()'>
      <label class="signin item item-input item-floating-label">
        <span class="input-label">Firstname</span>
        <input type='text' placeholder="Firstname" ng-model='csu.customer.firstName'>
      </label>
      <label class="signin item item-input item-floating-label">
        <span class="input-label">Lastname</span>
        <input type='text' placeholder="Lastname" ng-model='csu.customer.lastName'>
      </label>
      <label class="signin item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type='email' placeholder="Email" ng-model='csu.customer.email'>
      </label>
      <label class="signin item item-input item-floating-label">
        <span class="input-label">Phone</span>
        <input type='tel' placeholder="Phone" ng-model='csu.customer.phone'>
      </label>
      <label class="signin item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model='csu.customer.password'>
      </label>
      <label class="signin item item-input item-floating-label">
        <span class="input-label">Confirm Password</span>
        <input type="password" placeholder="Confirm Password" ng-model='csu.customer.confirmPassword'>
      </label>
      <p ng-if='csu.customer.error'>{{csu.customer.error}}</p>
      <button class="button button-block button-positive">Sign Up</button>
    </form>
    <p class="question">Already have an account?  <a href="#/customerSignin">Sign in here!</a></p>
  </ion-content>
</ion-view>
